In [1]:
import os
import csv
import pandas as pd

In [2]:
# Determine working directory
os.getcwd()

'/Users/alexheilman/Documents/Python-Challenge/PyBank'

In [3]:
# Read in the csv file to use
budget_data = pd.read_csv("Resources/budget_data.csv")

In [4]:
# Create a DataFrame using budget_data
budget_data_df = pd.DataFrame(budget_data)
budget_data_df

      Date  Profit/Losses
0   10-Jan        1088983
1   10-Feb        -354534
2   10-Mar         276622
3   10-Apr        -728133
4   10-May         852993
..     ...            ...
81  16-Oct        -729004
82  16-Nov        -112209
83  16-Dec         516313
84  17-Jan         607208
85  17-Feb         382539

[86 rows x 2 columns]

In [5]:
# Get total months
total_months = budget_data_df['Date'].nunique()
print(total_months)

86

In [6]:
# Get net total profit/losses
net_total = budget_data_df['Profit/Losses'].sum()
print(net_total)

22564198

In [7]:
# Find largest increase and decrease in profits
budget_csv = os.path.join('Resources', 'budget_data.csv')

In [8]:
changes = []
with open(budget_csv) as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    for row in csvreader:
        changes.append(row[1])

In [9]:
changes.pop(0)

'Profit/Losses'

In [10]:
changes = [int(i) for i in changes]

In [21]:
monthly_change = []
for i in range(len(changes)):
    monthly_change.append(changes[i - 1] - changes[i])

In [12]:
# Greatest Decrease in Profits
max(monthly_change)

1825558