In [2]:
import os
import csv
import pandas as pd

In [3]:
# Determine working directory
os.getcwd()

'/Users/alexheilman/Documents/Python-Challenge/PyBank'

In [4]:
# Read in the csv file to use
budget_data = pd.read_csv("Resources/budget_data.csv")

In [5]:
# Create a DataFrame using budget_data
budget_data_df = pd.DataFrame(budget_data)
budget_data_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [6]:
# Get total months
total_months = budget_data['Date'].nunique()
print(total_months)

86

In [7]:
# Get net total profit/losses
net_total = budget_data['Profit/Losses'].sum()
print(net_total)

22564198

In [10]:
# Changes in "Profit/Losses" over the entire period, and then the average of those changes?

# change = 0
# length = len(budget_data['Profit/Losses'])
# for i in range(length):
#     change = change + i
#     average_change = change/length

# print(change)    
# print(average_change)

262374.3953488372

In [35]:
# Finding the greatest increase in profits
profit = 0 
length = len(budget_data['Profit/Losses'])
for i in range(0:length):
    profit =